# API Server
BACKEND_CONTAINER_PORT=8000

# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=ttcs_root
MONGO_INITDB_ROOT_PASSWORD=change_me_mongo_root_password
MONGO_DATABASE=ttcs

# JWT
JWT_SECRET=change_me_jwt_secret
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_PREFETCH_COUNT=20

# RabbitMQ Sync
RABBITMQ_REGISTRATION_SYNC_EXCHANGE=registration.sync.events
RABBITMQ_REGISTRATION_SYNC_QUEUE=registration.sync.queue
RABBITMQ_REGISTRATION_SYNC_ROUTING_KEY=registration.sync.requested

# CORS
CORS_ALLOW_ORIGINS=http://localhost,http://api.localhost,http://qr.localhost

# Cloudinary
CLOUDINARY_NAME=de8vli4dk
CLOUDINARY_API_KEY=926854398157523
CLOUDINARY_API_SECRET=h1xxhjl01jQ_zgqu6K6-BLXy-XM
CLOUDINARY_FOLDER=webpython

# App
ENABLE_APP_SCHEDULER=false
